@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
:root {
    --primary-color-mobile: white;
    --primary-font-color: black;
    --primary-color-bk: white;

    --font: 'Dancing Script', cursive, sans-serif;
    --regular: 400;
    --bold: 700;
    --font-size-section: 2rem;
    --font-size-titles: 5rem;
    --font-size-subtitles: 3rem;
    --font-size-text: 2rem;
    --font-size-titles-mobile: 3rem;
    --font-size-subtitles-mobile: 1.5rem;
    --font-size-text-mobile: 0.5rem;
    --font-size-prices: 10rem;
    --font-size-price-currency: 4rem ;
    --secondary-font-color: #D1FFAD;

    --fooAndHead: rgba(6, 255, 255, 0.5);
    --bk-filter: blur(5px);
    --bk-filter-text: blur(2px);

    --shadow-1: -2px 4px 3px rgba(0, 0, 0, 0.25);
    --border-rad: 20px;
    --border:  0.1px dashed #00F0FF;

    --center-calc: calc(50% - 94px);

    --bk-img-1: url('https://firebasestorage.googleapis.com/v0/b/regaleriaalecam.appspot.com/o/Fondos%2FFondo-1.jpg?alt=media&token=c50dff4a-ed47-43e2-a7f6-806593c56c0f');
    --bk-img-2: url('https://firebasestorage.googleapis.com/v0/b/regaleriaalecam.appspot.com/o/Fondos%2FFondo-2.jpg?alt=media&token=bec2e2ab-9710-444b-9fc9-baca93fe1f44');
    --bk-loader-img: url('https://firebasestorage.googleapis.com/v0/b/regaleriaalecam.appspot.com/o/Fondos%2Floaderbk.jpg?alt=media&token=545f44d1-b6ae-4116-9c0e-6dab5ed90454');
    
    --section-title-img: url('https://firebasestorage.googleapis.com/v0/b/regaleriaalecam.appspot.com/o/SVG%2FEllipse.svg?alt=media&token=cf56cebd-c6fa-433c-a633-52a6542ae7e5');
    
    --btn-next-img: url('https://firebasestorage.googleapis.com/v0/b/regaleriaalecam.appspot.com/o/SVG%2Fboton-siguiente-seccion.svg?alt=media&token=9e7e9c1d-d948-4b28-a375-33d1bc691429');
    --btn-home-img: url('https://firebasestorage.googleapis.com/v0/b/regaleriaalecam.appspot.com/o/SVG%2Fboton-inicio.svg?alt=media&token=026bfab9-eb7b-48b7-9c3e-3ea898718ada');
    
    --click-icon: url('https://firebasestorage.googleapis.com/v0/b/regaleriaalecam.appspot.com/o/SVG%2FclickIcon.png?alt=media&token=ea5f8995-cffe-4285-b8b8-fb9252699ae3');
    
    --logo: url('https://firebasestorage.googleapis.com/v0/b/regaleriaalecam.appspot.com/o/SVG%2Flogo.svg?alt=media&token=9b1bc6f4-42d6-42c6-b710-becedf3d23c5');
}

*{
    box-sizing: border-box;
    padding: 0; margin: 0;
    font-family: var(--font);
    font-weight: var(--regular);
    text-align: center;
    
}
.hide {
    display: none !important;
}
.hidding {
    opacity: 0;
    transition: 800ms;
}
.loader {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: var(--bk-loader-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 800ms;
}
.loader > img {
    position: relative;
    top: calc(50% - 40px);;
    width: 88px;
    height: 82px;
    object-fit: contain;
    animation: loader infinite 3s alternate ease-in-out;
}

@keyframes loader {
    to {
        transform: rotate(680deg);
    }
}
html {
    font-size: 62.5%;
}
body::-webkit-scrollbar {
    display: none;
}
main {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
.fakeMain {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
h1 {
    font-size: var(--font-size-titles);
}
h2 {
    font-size: var(--font-size-subtitles);
}
h3 {
    font-size: var(--font-size-text);
}
.inlineList > li {display: inline-block;}
.unStyledList {list-style: none;}
.cartel {
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border: var(--border);
    border-radius: var(--border-rad);
    background-color: var(--primary-color-bk);
    box-shadow: var(--shadow-1);
}

@media (max-width: 700px) {
    h1 {
        font-size: var(--font-size-titles-mobile);
    }
    h2 {
        font-size: var(--font-size-subtitles-mobile);
    }
    h3 {
        font-size: var(--font-size-text-mobile);
    }
}