@import './globales.css';
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: var(--fooAndHead);
    backdrop-filter: var(--bk-filter);
    -webkit-backdrop-filter: var(--bk-filter);
}

#bienvenida {background-image: var(--bk-img-1);}
#productos, #sobreNosotros {background-image: var(--bk-img-2);}

.seccion {
    position: relative;
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.tituloSeccionArea {
    display: inline-block;
    position:absolute;
    top: 0;
    left: var(--center-calc);
    width: 182px;
    height: 52px;
    background-image: var(--section-title-img);
    background-size: contain;
    background-repeat: no-repeat;
}

.tituloSeccion {
    font-size: var(--font-size-section);
}

.btnSiguienteSeccionAbajo{
    display: inline-block;
    position:absolute;
    bottom: 0;
    left: var(--center-calc);
    width: 182px;
    height: 52px;
    background-image: var(--btn-next-img);
    background-repeat: no-repeat;
}
.btnSiguienteSeccionAbajo > span {
    position: absolute;
    left: 100%;
    width: 100px;
    height: 60px;
    background-image: var(--click-icon);
    background-repeat: no-repeat;
    background-size: contain;
}
.btnSiguienteSeccionDerecha{
    display: inline-block;
    position:absolute;
    top: var(--center-calc);
    left: calc(100% - 115px);
    width: 182px;
    height: 52px;
    transform: rotate(270deg);
    background-image: var(--btn-next-img);
    background-repeat: no-repeat;
}
.btnSiguienteSeccionIzquierda{
    display: inline-block;
    position:absolute;
    top: var(--center-calc);
    right: calc(100% - 115px);
    width: 182px;
    height: 52px;
    transform: rotate(90deg);
    background-image: var(--btn-next-img);
    background-repeat: no-repeat;
}

.btnInicio {
    display: inline-block;
    position:absolute;
    bottom: 100px;
    left: var(--center-calc);
    width: 182px;
    height: 52px;
    background-image: var(--btn-home-img);
    background-repeat: no-repeat;
}

/* * PRESENTACION */

#bienvenida {
    width: 100%;
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: 5% 40% 25% 20% 10%;
    grid-template-areas:
    ". . ."
    ". pres ."
    ". precioB ."
    ". precioB ."
    ". . ."
    ;
}

.presentacion {
    width: 80%;
    display: grid;
    grid-area: pres;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "logoP"
    "esloganP"
    ;
    justify-self: center;
}

.presentacion > .logo {
    width: 100%;
    height: 150px;
    grid-area: logoP;
}
.presentacion > .logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.eslogan {
    width: 100%;
    grid-area: esloganP;
}

.cartelPrecioEstimado {
    width: 100%;
    height: 100%;
    grid-area: precioB;
}

.cartelEstimado {
    max-width: 330px;
    height: 70%;
    min-height: 50%;
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto 20% 40% 20% auto;
    grid-template-areas: 
    ". . ."
    ". tituloPrecioEst ."
    ". precioE ."
    ". extraTEst ."
    ". . ."
    ;
}

.tituloPrecio {
    grid-area: tituloPrecioEst;
    justify-self: start;
}
.precioEst {
    grid-area: precioE;
    font-size: var(--font-size-prices);
    
}
.precioEst > span {
    font-size: var(--font-size-price-currency);
    vertical-align: text-top;
}
.aclaracion {
    grid-area: extraTEst;
    align-self: end;
}


/* * SOBRE NOSOTROS * */

#sobreNosotros > .contenidoSeccion {
    width: 100%;
    height: calc(100% - 152px);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "descArea"
    "muestraArea";
}
.contenidoSeccion > .sobreNosotrosTexto {
    
    height: calc(100% - 52px);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 52px calc(100% - 52px);
    grid-template-areas:
    ". . ." 
    ". descripcion .";
    grid-area: descArea;
}

.sobreNosotrosTexto > .descripcion {
    grid-area: descripcion;
    margin: auto 0;
    font-size: var(--font-size-titles-mobile);
    font-size: 2rem;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: var(--bk-filter-text);
    -webkit-backdrop-filter: var(--bk-filter-text);


}

.contenidoSeccion > .muestras {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-area: muestraArea;
}

.muestra {
    margin: 3%;
    border-radius: 10px;
    background: gray;
    /* ! USAR BACKGROUND IMAGE */
}

@media (min-width: 900px){
    .contenidoSeccion > .muestras {
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-area: muestraArea;
    }
}
/* * PRODUCTOS * */

#productos > .contenidoSeccion {
    position: relative;
    top: 51px;
    right: 51px;
    left: 51px;
    width: calc(100% - 104px);
    height: calc(100% - 52px);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    overflow-y: auto;    
}


.producto {
    margin: 1% 5%;
    border-radius: 10px;
    background: gray;
    /* ! USAR BACKGROUND IMAGE */
}

@media (min-width: 900px){
    #productos > .contenidoSeccion  {
        position: relative;
        top: 51px;
        right: 51px;
        left: 51px;
        width: calc(100% - 104px);
        height: calc(100% - 52px);
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        
    }
    .producto {
        margin: 5% 1%;
        border-radius: 10px;
        background: gray;
        /* ! USAR BACKGROUND IMAGE */
    }
}